/* body {
  font-family: 'Poppins';
  background-color: #F7F8FC;
  box-sizing: border-box;
}

li {
  list-style: none;
  cursor: pointer;
}
a {
  cursor: pointer;
  text-decoration: none;
}
.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */